﻿@{
    ViewBag.Title = "Home Page";
}


<script type="text/javascript" src="../../ckeditor/ckeditor.js">
<script type="text/javascript" src="@Url.Content("~/ckeditor/ckeditor.js")"></script>
<script type="text/javascript" src="@Url.Content("~/ckeditor/adapters/jquery.js")"></script>

</script>

<textarea class= "ckeditor" id ="editor1" rows="10">Sample Text</textarea> 

<input type ="submit" name="submit" value="Submit" />

<script language="javascript" type="text/javascript">
jQuery(".adminRichText").ckeditor();
</script>