﻿@model IEnumerable<MVC3AppCodeFirst.Models.Blog>

@{
    ViewBag.Title = "Index";
}


@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BloggerName)
        </td>
    
        </tr>
}

</table>
